@{
    ViewData["Title"] = "Buscar por ID";
}

<div class="text-center">
    <h3>Eliminar Cadetes</h3>
    <form action="EliminarCadetes" method="post">
        <label for="id"> Ingrese el Id del cadete a eliminar:
            <input type="text" name="id" id="id" required>
        </label>
        <input type="submit" value="Subir">
    </form>

    
</div>